body {
  height: 100vh;
  width: 100%;

  font-family: 'Poppins';
  font-weight: 300;
  letter-spacing: 0.7px;
  user-select: none;
}

body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: 'Poppins';
  font-weight: 300;
  letter-spacing: 0.7px;
  position: relative;
}

button {
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}

.table-container {
  position: absolute;
  top: 65px;
  display: flex;
  left: 50%;
  transform: translate(-50%);
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
  cursor: crosshair;
  user-select: none;
  table-layout: fixed;
  height: auto;
}

.table-active {
  cursor: crosshair;
}

.marked-cell,
.open-topography,
.closed-topography {
  stroke: #212529;
  height: 24px;
  width: 24px;
  display: block;
}

.choose-start:hover {
  background-color: #e9ecef;
}

.cell {
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  border-collapse: collapse;
  border: #adb5bd solid 1px;
}

.open {
  background-color: #e5dbff;
}

.closed {
  background-color: #be4bdb;
  border-collapse: collapse;
  border: solid 1px;
}

.path {
  background-color: yellow;
  border: none;
}

.block {
  background-color: #495057;
  border: none;
}

/* TOPOGRAPHY */

.elevation--1 {
  background-color: #94d82d;
}

.elevation--2 {
  background: #ffd43b;
}

.elevation--3 {
  background-color: #f76707;
}

.elevation--4 {
  background-color: #c92a2a;
}

.open-topography {
  stroke: #fff;
  height: 14px;
  width: 14px;
  display: block;
}

.closed-topography {
  stroke: #fff;
  height: 24px;
  width: 24px;
  display: block;
}

/*                    */
/* TABBED COMPONENT */
/*                 */

.menu-container {
  margin-top: -11px;
  position: relative;
}

.navigation-menu {
  height: 54px;
  width: 100%;
  background-color: #3e4a61;

  color: white;
  font-weight: 600;
  padding-left: 50px;

  display: flex;
  align-items: center;
  gap: 100px;
}

.nav-active,
.nav-active svg {
  color: #cc5de8;
  stroke: #cc5de8;
}

.nav-btn-active,
.nav-btn-active svg {
  color: #cc5de8;
  stroke: #cc5de8;
}

.option-active {
  color: #cc5de8;
}

.play-btn {
  background-color: #ae3ec9;
  padding: 8px 40px;
  border-radius: 8px;
  cursor: pointer;
}

.custom-select--label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  stroke: white;
}

.custom-select--label svg {
  height: 22px;
  width: 22px;
}

.custom-select--label:hover {
  color: #cc5de8;
  stroke: #cc5de8;
}

.custom-select--options {
  font-size: 14px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 100;

  color: #fff;
  background-color: #3e4a61;
  width: 230px;
  height: 135px;
  padding-top: 8px;
  border-radius: 6px;
}

.custom-select--options option {
  margin-left: 6px;
}

.custom-select--options option:hover {
  color: #cc5de8;
  cursor: pointer;
}

.algorithm-dropdown {
  position: absolute;
  top: 58px;
  left: 38px;
  height: 170px;
}

.maze-dropdown {
  position: absolute;
  top: 58px;
  left: 270px;
  height: 170px;
}

.speed-dropdown {
  position: absolute;
  top: 58px;
  left: 465px;
}

.hidden {
  display: none;
}

.disable-btn {
  background-color: #f03e3e;
  cursor: auto;
  padding: 8px 20px;
}
